Docs/
data/
.env
.venv
__pycache__/
debug_scraper.py
test_output1.log
sample_output.json
.vscode
.pytest_cache
test_failure.log
test_results.txt
demo_phase_2.py
debug_output.txt
demo_refiner.py
test_results2.txt
tests/test_graph.py
demo_phase_3.py
src/ui/
knowledge_graph.db
embedding_cache_local.json