langgraph 
langchain-openai
langchain-groq
ddgs
crawl4ai
pydantic>=2.0.0
duckduckgo-search>=5.0.0
langchain-google-genai
langgraph-checkpoint-sqlite
sqlite-vec
sentence-transformers
openai
PyMuPDF
aiohttp
httpx